#userHubSection {
  margin: 90px 0px 0px 0px;
  padding: 0px 30px;
}

#currentLocation {
  margin-top: 20px;
}

.form-control {
  width: 250px;
}

button {
  width: 248px;
}

.store-img {
  padding: 10px;
  height: 250px;
  width: 100%;
  border-color: rgb(255, 255, 255);
}
