<section class="text-center">



  <section id="userHubSection">

      <section class="user-welcome">
          <h4> {{ profile?.userName | titlecase }},</h4>
          <h5> What do you feel like eating today?</h5>
        </section>

        <img id="logo" src="../../../assets/logo.jpeg">

    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">

      <!-- location input field -->
      <div class="form-group">
        <div class="text-control">
          <!-- <label for="locationInput">Where do you want to eat?</label> -->
          <input type="text" class="form-control" id="locationInput" placeholder="Pick a city & state" formControlName="location">
        </div>
        <!-- <div class="text-control">
          <label for="zipcodeInput">
            <input type="text" style="display:inline-block;" name="Area Zip code" id="zipcodeInput" class="form-control" placeholder="Enter Zipcode"
              formControlName="zipCode">
          </label>
        </div> -->
      </div>
      <!-- food category options -->
      <div class="form-group">
        <label for="categoryInput"><strong>Choose your food category</strong></label>
        <select class="form-control" formControlName="category" id="categoryInput">

          <option value="barbecue">Barbecue</option>
          <option value="deli">Deli</option>
          <option value="indian">Indian</option>
          <option value="italian">Italian</option>
          <option value="mediterranean">Mediterranean</option>
          <option value="mexican">Mexican</option>
          <option value="pizza">Pizza</option>
          <option value="soul food">Soul Food</option>

        </select>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Find something to eat</button>
      </div>

    </form>


  </section>

  <section *ngIf="searchSuccess">

    <app-restaurant [restaurants]=restaurants></app-restaurant>

  </section>

</section>
