<app-user-navbar> </app-user-navbar>

<section class="text-center">

  <section class="user-welcome">
    <h5> {{ 'jacob'| titlecase }} it looks like you are not currently part of a tribe.</h5>
  </section>


  <img id="logo" src="../../../assets/logo.jpeg">


  <section class="search-box">
    <form>
      <label>
        Find your tribe.
      </label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search for your tribe." aria-label="Recipient's username"
          aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn  btn-danger btn-submit" type="button">Search</button>
        </div>
      </div>
    </form>
  </section>

  <section class="create-box">
    <form>

      <label>
        Create your own tribe.
      </label>

      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="What's your tribe name?" aria-label="Recipient's username"
          aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn  btn-danger btn-primary" type="button">Create</button>
        </div>
      </div>
    </form>
  </section>

</section>
