.input-text-box {
  width: 80%;
}

.form-control:focus {
  border-color: #7952b3;
  box-shadow: 0 0 0 3px rgba(121, 82, 179, .25);
}

.btn-submit {
  background-color: rgb(70, 40, 140);
  border: #7952b3;
}
