<app-user-navbar> </app-user-navbar>

<section *ngIf="!tribeMember" class="text-center">

  <section class="user-welcome">
    <h4> {{ username || 'isaac723' | titlecase }},</h4>
    <h5> it looks like you are not currently part of a tribe.</h5>
  </section>

  <img id="logo" src="../../../assets/logo.jpeg">

  <form>
    <section class="search-box">

      <label>
        Find your tribe.
      </label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Enter a tribe name." aria-label="" aria-describedby="">
        <div class="input-group-append">

          <button class="btn  btn-danger btn-submit" type="button">Search</button>
        </div>
      </div>

    </section>

    <section class="create-box">

      <label>
        Create your own tribe.
      </label>

      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="What's your tribe name?" aria-label="Recipient's username"
          aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn  btn-danger btn-primary" type="button">Create</button>
        </div>
      </div>

    </section>
  </form>

</section>


<app-user-hub *ngIf="tribeMember"></app-user-hub>

<br>
<br>
<br>

<!-- Shows the results of restaurants found from search -->
<app-restaurant></app-restaurant>
