section {
  margin-top: 90px;
}

h2 {
  font-family: 'Lobster', cursive;
}

a {
  cursor: pointer;
}

button {
  font-family: 'Lobster', cursive;
  max-width: 300px;
}

.btn-login {
  margin-top: 15px;
  margin-bottom: 10px;
  width: 250px;
}

#logo {
  height: 80px;
  width: 80px;
  margin: 10px auto 30px auto;
}
