<!-- Shows spinner while loading -->
<section *ngIf="isLoading">
  ...Loading account details
</section>


<section *ngIf="!isLoading" id="loginSection" class="text-center">

  <h2>Meal Vote</h2>

  <img id="logo" src="../../../assets/logo.jpeg">



  <div class="form-group">
    <br>
    <br>

    <a (click)="loginGoogle()">
      <img role="button" src="../../../assets/buttons/btn_google_signin_light_normal_web.png">
    </a>

    <br>
    <br>
    <div class="fb-login-button" data-size="large" data-button-type="login_with" data-auto-logout-link="false"
      data-use-continue-as="false"></div>

  </div>


</section>
