<!-- Shows spinner while loading -->
<section *ngIf="isLoading">
  ...Loading account details
</section>


<section *ngIf="!isLoading" id="loginSection" class="text-center">

  <h2>Meal Vote</h2>

  <img id="logo" src="../../../assets/logo.jpeg">


  <div class="form-group">

    <button type="button" class="btn btn-primary btn-login" (click)="loginFacebook();">Login with Facebook</button>
    <br>
    <button type="button" class="btn btn-danger btn-login" (click)="loginGoogle();">Login with Google</button>
  </div>


</section>
