<div class="card mx-auto" style="Width:50%;" *ngFor="let restaurant of restaurants;index as i">
  <div class="row">
    <div class="col-4">
      <div style="width: 100%" class=" card-header ">
        <img style='object-fit: contain' class="card-img-top img-fluid" src='{{ restaurant.imgURL }}' alt="Card image cap">
      </div>
    </div>
    <div class="col">
      <div class="card-body">
        <h5 class="card-title">{{ restaurant.name }}</h5>
        <p class="card-text">{{ restaurant.location?.line1 }}</p>
        <p class="card-text">{{ restaurant.location?.line2 }}</p>
        <button type="button" class="btn btn-primary" (click)="extractRestaurantDetails(i)" data-toggle="modal" data-target="#commonModal">
          Show Details
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="currentRestaurant">
  <app-modal [modalHeading]="currentRestaurant.name">
    <ng-container class="body">
      <label for="isClosed"> <b>Open Now? :</b> </label> &nbsp;
      <div id="isClosed" style="display:inline-block;" >
        <span *ngIf="currentRestaurant.isClosed">No</span>
        <span *ngIf="!currentRestaurant.isClosed">Yes</span>
        <!-- <ng-template #nothing><span>No</span></ng-template> -->
      </div>
      <div>
        <label for="phoneNumber">
          <b>Phone:</b>
        </label> &nbsp;
        <div id="phoneNumber" style="display:inline-block;">
          {{currentRestaurant.phoneNumber}}
        </div>
      </div>
      <div>
        <label for="rating">
          <b>Rating:</b>
        </label> &nbsp;
        <div id="rating" style="display:inline-block;">
          {{currentRestaurant.rating}}
        </div>
      </div>
      <div>
        <label for="name">
          <b>Hours:</b>
        </label> &nbsp;
        <div id="name" style="display:inline-block;">
          {{currentRestaurant.hoursOfOperation}}
        </div>
      </div>
      <div>
        <label for="website">
          <b>Website:</b>
        </label> &nbsp;
        <div id="website" style="display:inline-block;">
          {{currentRestaurant.website}}
        </div>
      </div>
    </ng-container>
  </app-modal>
</div>