section {
  margin-top: 100px;
}

.input-text-box {
  width: 250px;
}

.btn-submit {
  background-color: rgb(70, 40, 140);
  width: 250px;
}

#logo {
  height: 80px;
  width: 80px;
  margin: 10px auto 20px auto;
}
